header{
    margin: 2rem 3rem;
    top: 0;
}

.navFlex{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: red;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.links a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.links a:hover{
    color: gainsboro;
    font-size: 0.9rem;
    transition: 0.5s ease;
}

.links .active{
    font-weight: bold;
    color: gray;
}

.footer{
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.footer li{
    list-style: none;
    color: rgb(144, 140, 140);
    line-height: 2.5rem;
}

.footer a{
    color: gray;
    text-decoration: none;
}

.footer li:hover{
    text-decoration: underline;
}

.footer button{
    border: 1px solid gray;
    background-color: transparent;
    color: gray;
    padding: 10px 20px;
    margin: 1rem 0rem;
    cursor: pointer;
}

.footer button:hover{
    color: #fff;
    transition: 0.4s ease;
}

.socials{
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}

.socials li{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.copy{
    font-size: 0.7rem;
    color: gray;
}
